body {
  background-color: #232946;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  line-height: normal;
  text-align: center;

}

p {
  color: whitesmoke;
  width: 500px;
  padding: 30px;
  line-height: normal;
  text-align: center;
  margin: auto;
}

h1 {
  color: #0e4bcf;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  line-height: normal;
  text-align: center;
}

h3 {
  color: #eebbc3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  line-height: normal;
  text-align: center;
}

a {
  color: white;
  text-decoration: dashed;
}

a:hover {
  color: rgb(221, 51, 51);
  transition: 2s ease;
}

.pdp {
  width: 150px;
  height: auto;
  border-radius: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.mountains-background {
  background: url('https://content.codecademy.com/courses/freelance-1/unit-6/blues.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container, #card {
  margin: 0 auto 20px;
  width: 500px;
  padding: 10px;
  border-radius: 30px;
  border: 3px solid;
}

#card {
  box-shadow: #37274d;
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border-radius: 30px;
  border: 3px solid;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}


.button {
  background-color:rgb(106, 160, 221);
  font-weight: bold;
  margin: 0 auto;
  display: inline-block;
}

@media (max-width: 960px) {
  .container, #card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container, #card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container, #card {
    width: 300px;
  }
}
